.modal {
  max-width: 350px;

  &__close {
    position: absolute;
    top: 0;
    right: 0;
    width: 40px;
    height: 40px;
    border: none;
    background-size: 15px 15px;
    cursor: pointer;
    background: url("../../assets/img/form-close.svg") no-repeat center center #fff;
  }

  &__title {
    color: $red;
    text-align: center;
    font-size: 24px;
    font-weight: 300;
    text-transform: uppercase;
  }

  &__btn-wrap {
    display: flex;
    justify-content: space-around;
    padding-top: 20px;

    button {
      font-size: 14px;
      padding: 9px 22px;
    }
  }
}