$black: #232323;
$main-header-color: #20232a;
$white: #ffffff;
$light-bgc: #efecec;
$background-color: #dee2e6;
$dark-grey: #a9a9a9;
$symbols-color: #898989;
$grey: #676567;
$border-color: #c3c1c1;
$bgc-hover: #f2f3f5;

$green: #2ca215;
$red: #DA0000;
$dark-red: #870000;
$light-blue: #cbd9f9;
$turquoise: #26c9ff;


// transparent
$transparent-white: rgba(255,255,255,0.85);
$transparent-dark: rgba(0, 0, 0, 0.09);